We will first load a normal json file which doesnt have any nested structures.

gs://bigquery_json_processing/json_data_raw_1.json

{"id": 1,"name": "Sourabh","company": "company-A"}
{"id": 2,"name": "Vikram","company": "company-B"}
{"id": 3,"name": "Sahil","company": "company-C"}
{"id": 4,"name": "Gaurav","company": "company-D"}
{"id": 5,"name": "Hardik","company": "company-E"}

In [13]:
!bq load --source_format NEWLINE_DELIMITED_JSON --autodetect \
--ignore_unknown_values sourabhjainceanalytics:resulticks.customer gs://bigquery_json_processing/json_data_raw_1.json

Waiting on bqjob_r185358b549a9dfe1_0000017e28a2947f_1 ... (1s) Current status: DONE

In [14]:
%%bigquery
SELECT * FROM `sourabhjainceanalytics.resulticks.customer`

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 534.31query/s]
Downloading: 100%|██████████| 5/5 [00:01<00:00,  3.25rows/s]

           name    company  id
0  Sourabh Jain  company-A   1
1  Sourabh Jain  company-B   2
2  Sourabh Jain  company-C   3
3  Sourabh Jain  company-D   4
4  Sourabh Jain  company-E   5

Now , we will load additional data which has nested columns and the schema is new. The flags autodetect and schema_update_option enables to load this data.

gs://bigquery_json_processing/json_data_raw_2.json


{"id": 6,"name": "Rajesh","company": "company-A","contact_details":[{"phone":"111111111","type":"home"},{"phone":"2222222222","type":"mobile"}]}
{"id": 7,"name": "Mandar","company": "company-B","contact_details":[{"phone":"3333333333","type":"home"},{"phone":"4444444444","type":"mobile"}]}
{"id": 8,"name": "Nishit","company": "company-C","contact_details":[{"phone":"5555555555","type":"home"},{"phone":"6666666666","type":"mobile"}]}
{"id": 9,"name": "Prasanna","company": "company-D","contact_details":[{"phone":"7777777777","type":"home"},{"phone":"8888888888","type":"mobile"}]}
{"id": 10,"name": "Rakesh","company": "company-E","contact_details":[{"phone":"9999999999","type":"home"},{"phone":"0000000000","type":"mobile"}]}

In [15]:
!bq load --source_format NEWLINE_DELIMITED_JSON --autodetect \
--ignore_unknown_values --schema_update_option=ALLOW_FIELD_ADDITION \
sourabhjainceanalytics:resulticks.customer gs://bigquery_json_processing/json_data_raw_2.json

Waiting on bqjob_r79cf9315cd3feb3_0000017e28a2ac20_1 ... (1s) Current status: DONE

In [16]:
%%bigquery
SELECT * FROM `sourabhjainceanalytics.resulticks.customer`

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 611.68query/s]
Downloading: 100%|██████████| 10/10 [00:01<00:00,  7.25rows/s]

,contact_details,name,company,id
0,"[{'type': 'home', 'phone': 111111111}, {'type'...",Sourabh Jain,company-A,6
1,"[{'type': 'home', 'phone': 3333333333}, {'type...",Sourabh Jain,company-B,7
2,"[{'type': 'home', 'phone': 5555555555}, {'type...",Sourabh Jain,company-C,8
3,"[{'type': 'home', 'phone': 7777777777}, {'type...",Sourabh Jain,company-D,9
4,"[{'type': 'home', 'phone': 9999999999}, {'type...",Sourabh Jain,company-E,10
5,[],Sourabh Jain,company-A,1
6,[],Sourabh Jain,company-B,2
7,[],Sourabh Jain,company-C,3
8,[],Sourabh Jain,company-D,4
9,[],Sourabh Jain,company-E,5

Now, lets say we want to update the nested data to the existing employees (ids 1-5) which did not have the contact details.

We will recieve a new json file with only the data for these ids.

gs://bigquery_json_processing/json_data_raw_3.json

{"id": 1,"contact_details":[{"phone":"111111111","type":"home"},{"phone":"2222222222","type":"mobile"}]}
{"id": 2,"contact_details":[{"phone":"3333333333","type":"home"},{"phone":"4444444444","type":"mobile"}]}
{"id": 3,"contact_details":[{"phone":"5555555555","type":"home"},{"phone":"6666666666","type":"mobile"}]}
{"id": 4,"contact_details":[{"phone":"7777777777","type":"home"},{"phone":"8888888888","type":"mobile"}]}
{"id": 5,"contact_details":[{"phone":"9999999999","type":"home"},{"phone":"0000000000","type":"mobile"}]}

The approach will be to load this data first into a temporary table and then merge it into the main table.

In [17]:
!bq load --source_format NEWLINE_DELIMITED_JSON --autodetect --ignore_unknown_values \
--schema_update_option=ALLOW_FIELD_ADDITION sourabhjainceanalytics:resulticks.customer_change gs://bigquery_json_processing/json_data_raw_3.json

Waiting on bqjob_rd0700e7146cfc81_0000017e28a2c2cf_1 ... (1s) Current status: DONE

In [18]:
%%bigquery
SELECT * FROM `sourabhjainceanalytics.resulticks.customer_change`

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 532.95query/s]
Downloading: 100%|██████████| 5/5 [00:01<00:00,  3.23rows/s]

                                     contact_details  id
0  [{'type': 'home', 'phone': 111111111}, {'type'...   1
1  [{'type': 'home', 'phone': 3333333333}, {'type...   2
2  [{'type': 'home', 'phone': 5555555555}, {'type...   3
3  [{'type': 'home', 'phone': 7777777777}, {'type...   4
4  [{'type': 'home', 'phone': 9999999999}, {'type...   5

In [19]:
%%bigquery
MERGE resulticks.customer T
USING (  
    SELECT 
      id,  
      ARRAY_AGG(STRUCT(cd.type, cd.phone)) contact_details
    FROM resulticks.customer_change,
    UNNEST(contact_details) cd
    GROUP BY 1) S
ON T.id = S.id
WHEN MATCHED THEN    
UPDATE SET T.contact_details = ARRAY_CONCAT(T.contact_details, S.contact_details);

Query complete after 0.00s: 100%|██████████| 8/8 [00:00<00:00, 3338.09query/s]

Empty DataFrame
Columns: []
Index: []

In [20]:
%%bigquery
SELECT * FROM `sourabhjainceanalytics.resulticks.customer`

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 496.31query/s]
Downloading: 100%|██████████| 10/10 [00:01<00:00,  6.87rows/s]

,contact_details,name,company,id
0,"[{'type': 'home', 'phone': 111111111}, {'type'...",Sourabh Jain,company-A,6
1,"[{'type': 'home', 'phone': 3333333333}, {'type...",Sourabh Jain,company-B,7
2,"[{'type': 'home', 'phone': 5555555555}, {'type...",Sourabh Jain,company-C,8
3,"[{'type': 'home', 'phone': 7777777777}, {'type...",Sourabh Jain,company-D,9
4,"[{'type': 'home', 'phone': 9999999999}, {'type...",Sourabh Jain,company-E,10
5,"[{'type': 'home', 'phone': 5555555555}, {'type...",Sourabh Jain,company-C,3
6,"[{'type': 'home', 'phone': 111111111}, {'type'...",Sourabh Jain,company-A,1
7,"[{'type': 'home', 'phone': 7777777777}, {'type...",Sourabh Jain,company-D,4
8,"[{'type': 'home', 'phone': 3333333333}, {'type...",Sourabh Jain,company-B,2
9,"[{'type': 'home', 'phone': 9999999999}, {'type...",Sourabh Jain,company-E,5